__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak
env.ext
sql_app.db
static/uploads/
node_modules/
whatsapp_gateway/node_modules/
whatsapp_gateway/sessions/

.vercel
.env*
credentials.json
ngrok.yml
sent_messages_cache.json
scratch/
