fastapi
uvicorn
sqlalchemy
psycopg2-binary
pandas
email-validator
dnspython
selenium
undetected-chromedriver
python-dotenv
passlib[bcrypt]
python-multipart
python-jose[cryptography]
openpyxl
requests
beautifulsoup4
aiofiles
setuptools
google-auth
google-auth-oauthlib
google-auth-httplib2