"fastapi\nuvicorn\njinja2\nsqlalchemy\npsycopg2-binary\npandas\nemail-validator\ndnspython\nselenium\nwebdriver-manager\nundetected-chromedriver\npython-dotenv\npasslib[bcrypt]\npython-multipart\npython-jose[cryptography]\nopenpyxl\nrequests\nbeautifulsoup4\naiofiles\nsetuptools\ngoogle-auth\ngoogle-auth-oauthlib\ngoogle-auth-httplib2\nduckduckgo-search\napscheduler\npytz\nhttpx\n"